body {
  font-family: Montserrat;
  font-weight: 400;
  margin: 0px;
  color: #4d4d4d;
  line-height: 1.5
}

a:link, a:visited {
  text-decoration: none;
  color: #346f65;
  font-weight: 700
}

a:hover, a:active {
  text-decoration: underline;
  color: #4d8e8a
}

a.button:link, a.button:visited {
  text-decoration: none;
  background-color: #346f65;
  color: #FFFFFF;
  padding: 10px 20px;
  font-weight: 400;
  display: inline-block
}

a.button:hover, a.button:active {
  background-color: #4d8e8a;
}

i.fab, i.ai {
  padding: 10px!important;
  border-radius: 50%;
  background-color: #646B79;
  color: white;
  margin-bottom: 25px;
  font-size: 1.5em
}

i.fab:hover, i.fab:active, i.ai:hover, i.ai:active {
  opacity: 0.8
}

h1 {
  margin: 0px;
  font-family: Arvo;
  font-size: 2em
}

h2 {
  font-family: Arvo;
  font-size: 1.8em
}

h3 {
  font-family: Arvo
}

.page-title {
  margin: 0px auto;
  padding: 25px 0px;
  width: 90%;
  max-width: 1500px;
  overflow: hidden
}

.content, .content-50, .content-33 {
  margin: 0px auto;
  padding: 50px 0px;
  max-width: 1500px;
  overflow: hidden
}

.content {
  width: 90%;
}

.content-50 {
  width: 50%;
}

.content-33 {
  width: 33.333333%;
}

.no-padding {
  padding: 0px
}

.margin-right {
  margin-right: 25px
}
.grey-background {
  background-color: #eeeeee
}

.flex {
  display: flex
}

.float {
  float: left
}

.big {
  font-size: 1.5em
}

.small {
  font-size: 0.8em
}

.img-100 {
  width: 90%
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.img-round {
  border-radius: 25%;
}

.right-align {
  text-align: right
}

.center-align {
  text-align: center
}

.welcome {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://raw.githubusercontent.com/SeaweedTraits/seaweedtraits.github.io/main/images/background.jpeg);
   background-size: 100% auto;
   background-position: center center;
   color: #FFFFFF;
   padding: 50px 0px
}

.welcome-text {
  font-size: 2em;
  font-family: Arvo;
  line-height: 1;
  font-weight: 900
}

.welcome img {
   width: 20%
}

#inputSpecies, #inputTraits {
  background-image: url('../fa-search.svg');
  background-position: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 1em;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#speciesTable, #traitsTable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 0.8em;
  margin: 0px
}

#speciesTable {
  white-space: nowrap;
  font-style: italic;
  width: 100%
}

#speciesTable th, #speciesTable td, #traitsTable th, #traitsTable td {
  text-align: left; /* Left-align text */
  padding: 10px; /* Add padding */

}

#traitsTable td:first-child {
  font-weight: 700
}

#speciesTable tr, #traitsTable tr {
  border-bottom: 1px solid #ddd;
}

#speciesTable tr:hover, #traitsTable tr:hover {
  background-color: #ffffff;
}


@media screen and (max-width: 768px) {
  body {
    line-height: 1.3
  }

  h1 {
    font-size: 1.5em
  }

  h2 {
    font-size: 1.25em
  }

  .content, .content-50, .content-33 {
    padding: 10px;
    width: 90%;
  }

  .big {
    font-size: 1em
  }

  .welcome {
    background-size: 200% auto;
  }

  .flex {
    flex-direction: column
  }

  .margin-right {
    margin-right: 0px
  }
}
